<div class="container">   
  <div class="equipment">
        <h3>RehaLab Services</h3>
        <p>RehaLab offers the following services:
            Design, development and research of:
            Systems for rehabilitation and support of human movements;
            Interfaces for communication and control of active orthoses and exoskeletons for upper and lower limbs;
            Biomechanical analysis of human movements;
            Development of rehabilitation procedures based on virtual reality scenes;
            Research and applied activities in the field of mechatronics and rehabilitation robotics.        
        </p>
        <!-- <p>
          RehaLab предлага следните услуги:
Проектиране, изработване и изследване на:
Системи за рехабилитация и подпомагане движенията на човека;
Интерфейси за комуникация и управление на активни ортези и екзоскелетони за горни и долни крайници;
Биомеханичен анализ на движенията на човека;
Разработване на процедури за рехабилитация, базирана на сцени във виртуалната реалност;
Научно-изследователска и приложна дейност в областта на мехатрониката и рехабилитационната роботика.
        </p> -->
        <div class="site">
            <aside>
            <ul>
            <li>
                <a routerLink="/exoskeletons">Systems for rehabilitation</a>
            </li>
            <li>
                <a routerLink="/themes">Biomechanical analysis</a>
            </li>
            <li>
                <a routerLink="/gait-analysis">Gait analysis</a>
            </li>
            <li>
                <a routerLink="/mocap">Motion capture systems</a>
            </li>
            <li>
                <a routerLink="/mocap">Virtual reality scenes</a>
            </li>
            </ul>
        </aside>
        </div>
        
    <div class="homeproducts"> 
        <ul class="homeproducts">            
            <li>
            <figure>
                <img src="Exo.png" />
                <a routerLink="/h_product3">Exoskeleton for upper and lower limbs</a>
            </figure>
            </li>                                   
            <li>
            <figure>
                <img src="ManusCiberGloves.jpg" />
                <a routerLink="/h_product3">Manus Ciber Gloves </a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="Mocap.png" />
                <a routerLink="/h_product3">Mocap </a>
            </figure>
            </li>           
            <li>
            <figure>
                <img src="pilates2.jpg" />
                <a routerLink="/h_product3">Pilates Virtual Jym</a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="Zebris4.png" />
                <a routerLink="/h_product3">Gait Analysis with Zebris treadmill</a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="BCI.jpg" />
                <a routerLink="/h_product3">Brain Computer Interface</a>
            </figure>
            </li>            
        </ul>
    </div>
