<div class="container">   
          <h3>RehaLab Equipment</h3>
          <p>RehaLab is a research laboratory that develops robotic rehabilitation systems for various applications:
            rehabilitation robots for upper limb and lower limb;
            rehabilitation robots for home and clinical use;
            rehabilitation systems for clinical use;
            rehabilitation equipment for home;
            training rehabilitation for upper and lower limb;
            gait analysis;
            Electrostimulation device for stroke rehabilitation, etc.        
          </p>
</div> 

