<header>
  <div class="mini-navbar-wrap">
    <div class="logo-wrap">
      <img src="logo.png" />
      <p class="logo"><span class="logo">RehaLab</span></p>
    </div>
    <div class="mini-navbar">
      <ul>
        @if(isLoggedIn){
        <li class="user-profile-btn">
          <a routerLink="/profile">{{ username }}'s profile</a>
        </li>
        <li>
          <a (click)="logout()">Logout</a>
        </li>
        } @else {
        <li>
          <a routerLink="/login">Login</a>
        </li>
        <li>
          <a routerLink="/register">Register</a>
        </li>
        }
      </ul>
    </div>
  </div>
  <nav>
    <ul>  
      <li>
        <a routerLink="/home">Home</a>
      </li>
      <li>
        <a routerLink="/products">Products</a>
        <ul>
          <li><a href="#">Exoskeleton for upper and lower limbs</a></li>
          <li><a href="#">Biomechanical analysis systems</a></li>
          <li><a href="#">Gait analysis systems</a></li>
          <li><a href="#">Motion capture systems</a></li>
          <li><a href="#">Virtual reality</a></li>
          <li><a href="#">Collaborative robot KUKA</a></li>
        </ul>
      </li> 
      <li>
        <a routerLink="/services">Services</a>
        <ul>
          <li><a href="#">Design of rehabilitation systems</a></li>
          <li><a href="#">Design of assistive systems</a></li>
          <li><a href="#">Biomechanical analysis</a></li>
          <li><a href="#">Gait analysis</a></li>
          <li><a href="#">Motion capturing</a></li>
          <li><a href="#">Human-robot interfaces</a></li>
          <li><a href="#">Haptic devices</a></li>
        </ul>
      </li> 
      <li>
        <a routerLink="/about-us">About Us</a>
      </li>
      <li>
        <a routerLink="/contacts">Contact Us</a>
      </li>      
      <li>
        <a routerLink="/themes">Blog</a>
      </li>   
    </ul>
  </nav>
</header>
