<p>products works!</p>
<div class="container">   
  <div class="equipment">
        <h3>RehaLab Equipment</h3>
        <p>RehaLab forum is a place, where you can post your questions, comment, and discuss problems, regarding your rehabilitation programm.</p>
        <p>RehaLab is a research laboratory that develops robotic rehabilitation systems for various applications:
          rehabilitation robots for upper limb and lower limb;
          rehabilitation robots for home and clinical use;
          rehabilitation systems for clinical use;
          rehabilitation equipment for home;
          training rehabilitation for upper and lower limb;
          gait analysis;
          Electrostimulation device for stroke rehabilitation, etc.        
        </p>
        <!-- <p>
          RehaLab RehaLab e изследователска лаборатория, която разработва роботизирани рехабилитационни системи за различни приложения:
          рехабилитационни роботи за горен крайник и долен крайник;
          рехабилитационни роботи за домашна и клинична употреба; 
          рехабилитационни системи за клинична употреба;
          рехабилитационно оборудване за дома;
          тренировъчна рехабилитация за горен и долен крайник; 
          анализ на походката;
          Устройство за електростимулация за рехабилитация след инсулт и др.
        </p> -->
        <div class="site">
            <aside>
                <p>Sidebar</p>
            <ul>
            <li>
                <a routerLink="/exoskeletons">Exoskeleton for upper and lower limbs</a>
            </li>
            <li>
                <a routerLink="/themes">Biomechanical analysis</a>
            </li>
            <li>
                <a routerLink="/gait-analysis">Gait analysis</a>
            </li>
            <li>
                <a routerLink="/mocap">Motion capture systems</a>
            </li>
            </ul>
        </aside>
        </div>
        
    <div class="homeproducts"> 
        <ul class="homeproducts">                   
            <li>
            <figure>
                <img src="Exoskeleton.jpg" />
                <a routerLink="/h_product1">Exoskeleton for upper limbs</a>
            </figure>        
            </li>           
            <li>
            <figure> 
                <img src="Exoskeleton3.jpg" />
                <a routerLink="/h_product2">Exoskeleton for lower limbs</a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="Exo.png" />
                <a routerLink="/h_product3">Exoskeleton for upper and lower limbs</a>
            </figure>
            </li>                                    
            <li>
            <figure>
                <img src="Optitrack1.png" />
                <a routerLink="/h_product3">Delsys </a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="ManusCiberGloves.jpg" />
                <a routerLink="/h_product3">Manus Ciber Gloves </a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="Mocap.png" />
                <a routerLink="/h_product3">Mocap </a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="oculus.jpg" />
                <a routerLink="/h_product3">Oculus Qwest</a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="pilates2.jpg" />
                <a routerLink="/h_product3">Pilates Virtual Jym</a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="delsys.jpg" />
                <a routerLink="/h_product3">Delsys </a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="Zebris.jpg" />
                <a routerLink="/h_product3">Zebris </a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="Zebris4.png" />
                <a routerLink="/h_product3">Gait Analysis with Zebris treadmill</a>
            </figure>
            </li>
            <li>
            <figure>
                <img src="BCI.jpg" />
                <a routerLink="/h_product3">Brain Computer Interface</a>
            </figure>
            </li>            
        </ul>
    </div>
    
  
    <p>The laboratory has modern equipment purchased under numerous national and European projects:</p>
    <!-- <p>Лабораторията разполага и със съвременна апаратура, закупена по множество национални и европейски проекти:</p> -->
   <p>Links to similar equipment</p>
    <!-- <p>Линкове към подобна апаратура</p> -->

    <ul class="container product-list">     
      <li class="product1"><a href="https://www.syrebo.com/rehabilitation-system-for-clinic/robotic-hand-rehabilitation-device.html">
      <div><img src="/uploads/32032/small/hand-rehabilitation-devicef25ac.jpg" alt="Robotic Hand Rehabilitation Device" /></div>
      <div class="pro-footer">
        <h4>Robotic Hand Rehabilitation Device</h4>
        <div class="pro-list"Model:SY-HRC15. Newest Portable Hand Rehabilitation Robot. Syrebo hand rehabilitation system>Model:SY-HRC15. Newest Portable Hand Rehabilitation Robot. Syrebo hand rehabilitation system</div>
      </div>
    </a></li>
    
    <li class="product2"><a href="https://www.syrebo.com/rehabilitation-system-for-clinic/syrebo-upper-limb-rehabilitation-robot-sy.html">
      <div><img src="/uploads/32032/small/syrebo-upper-limb-rehabilitation-robot-syd51ad.jpg" alt="Syrebo® Upper Limb Rehabilitation Robot SY-UEA2" /></div>
      <div class="pro-footer">
        <h4>Syrebo® Upper Limb Rehabilitation Robot SY-UEA2</h4>
        <div class="pro-list"Syrebo Upper Limb Rehabilitation Robot adopts a full-featured mobile chassis and high-precision>Syrebo Upper Limb Rehabilitation Robot adopts a full-featured mobile chassis and high-precision</div>
      </div>
    </a></li>
    
    <li class="product3"><a href="https://www.syrebo.com/rehabilitation-system-for-clinic/syrebo-bci-rehabilitation-training-evaluation.html">
      <div><img src="/uploads/202332032/small/syrebo-bci-rehabilitation-training-evaluation74482a79-1dc2-402d-bd6d-53f18244901c.jpg" alt="Syrebo® Hand Rehabilitation Robot (BCI)" /></div>
      <div class="pro-footer">
        <h4>Syrebo® Hand Rehabilitation Robot (BCI)</h4>
        <div class="pro-list"Accelerate stroke recovery with innovative brain-computer interface technology.>Accelerate stroke recovery with innovative brain-computer interface technology.</div>
      </div>
    </a></li>
    </ul>
  </div>
</div>

