<app-navigation-bar />

<div [class]="randomMsg">This is random message!</div>

<div class="wrapper">
    <button (click)="togleModal($event)">Toggle Modal</button>
</div>

@if (isShown) {
<div class="popup">
    <div>
        <img [attr.src]="delsysImg" />
    </div>
    
    <input type="text" placeholder="email" />
    <button>Click</button>
</div>
}

<app-user-list />

<!-- <div id = "numbers-wraper">
    @for (n of numbers; track $index) { 
    @if (n % 2 === 0) {
    <div class="num blue">This is blue line: {{ n }}</div>
    } @else if (n === 5) {
    <div class="num">This has no collor: {{ n }}</div>
    } @else {
    <div class="num red">This is red line: {{ n }}</div>
    }
    }
</div> -->
<app-footer />

<router-outlet />