<div class="container">
  <div class="container">
    <div class="welcome">
      <h3>Welcome!</h3>
      <p>RehaLab forum is a place, where you can post your questions, comment, and discuss problems, regarding your rehabilitation programm.</p>
      <p>RehaLab is a research laboratory that develops robotic rehabilitation systems for various applications:
        rehabilitation robots for upper limb and lower limb;
        rehabilitation robots for home and clinical use;
        rehabilitation systems for clinical use;
        rehabilitation equipment for home;
        training rehabilitation for upper and lower limb;
        gait analysis;
        Electrostimulation device for stroke rehabilitation, etc.        
      </p>
      <p>
        RehaLab RehaLab e изследователска лаборатория, която разработва роботизирани рехабилитационни системи за различни приложения:
        рехабилитационни роботи за горен крайник и долен крайник;
        рехабилитационни роботи за домашна и клинична употреба; 
        рехабилитационни системи за клинична употреба;
        рехабилитационно оборудване за дома;
        тренировъчна рехабилитация за горен и долен крайник; 
        анализ на походката;
        Устройство за електростимулация за рехабилитация след инсулт и др.
      </p>
      
      <div class="homeproducts-wrap">      
        <ul>             
          <li class="homeproduct1">
          <img src="Exo.png" />
          //<a routerLink="/homeproduct2">homeproduct2</a>        
          </li>           
          <li>
          <img src="Exoskeleton.jpg" />
            //<a routerLink="/homeproduct2">homeproduct2</a>
          </li>
          <li>
          <img src="Exoskeleton3.jpg" />
            //<a routerLink="/homeproduct3">homeproduct3</a>
          </li>  
        </ul>
      </div>
    
    <div>
      <ul>
        <li>
          <a routerLink="/home">Home</a>
        </li>
        <li>
          <a routerLink="/themes">Themes</a>
        </li>
        <li>
          <a routerLink="/add-theme">New Theme</a>
        </li>
      </ul>
    </div>
  
    <p>The laboratory has modern equipment purchased under numerous national and European projects:
    </p>
      <p>Лабораторията разполага и със съвременна апаратура, закупена по множество национални и европейски проекти: 
      </p>
      <ul class="container product-list">

        <li class="product1"><a href="https://www.syrebo.com/rehabilitation-system-for-clinic/robotic-hand-rehabilitation-device.html">
        <div><img src="/uploads/32032/small/hand-rehabilitation-devicef25ac.jpg" alt="Robotic Hand Rehabilitation Device" /></div>
        <div class="pro-footer">
          <h4>Robotic Hand Rehabilitation Device</h4>
          <div class="pro-list"Model:SY-HRC15. Newest Portable Hand Rehabilitation Robot. Syrebo hand rehabilitation system>Model:SY-HRC15. Newest Portable Hand Rehabilitation Robot. Syrebo hand rehabilitation system</div>
        </div>
      </a></li>
      
      <li class="product2"><a href="https://www.syrebo.com/rehabilitation-system-for-clinic/syrebo-upper-limb-rehabilitation-robot-sy.html">
        <div><img src="/uploads/32032/small/syrebo-upper-limb-rehabilitation-robot-syd51ad.jpg" alt="Syrebo® Upper Limb Rehabilitation Robot SY-UEA2" /></div>
        <div class="pro-footer">
          <h4>Syrebo® Upper Limb Rehabilitation Robot SY-UEA2</h4>
          <div class="pro-list"Syrebo Upper Limb Rehabilitation Robot adopts a full-featured mobile chassis and high-precision>Syrebo Upper Limb Rehabilitation Robot adopts a full-featured mobile chassis and high-precision</div>
        </div>
      </a></li>
      
      <li class="product3"><a href="https://www.syrebo.com/rehabilitation-system-for-clinic/syrebo-bci-rehabilitation-training-evaluation.html">
        <div><img src="/uploads/202332032/small/syrebo-bci-rehabilitation-training-evaluation74482a79-1dc2-402d-bd6d-53f18244901c.jpg" alt="Syrebo® Hand Rehabilitation Robot (BCI)" /></div>
        <div class="pro-footer">
          <h4>Syrebo® Hand Rehabilitation Robot (BCI)</h4>
          <div class="pro-list"Accelerate stroke recovery with innovative brain-computer interface technology.>Accelerate stroke recovery with innovative brain-computer interface technology.</div>
        </div>
      </a></li>
      </ul>
     
      @if(!isLoggedIn) {
      <div class="logged">
        <ul>
          <li>
            <a routerLink="/login">
              <i class="fas fa-sign-in-alt"></i>
              Login
            </a>
          </li>
          <li>
            <a routerLink="/register">
              <i class="fas fa-user-plus"></i>
              Register
            </a>
          </li>
        </ul>
      </div>
      }
    </div>
  </div>
</div>
